@import './colors';

.cardContainer{
    background-color: $lightPink;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    &:hover{
    cursor: pointer;
    color: $grey;
}
}

.cartTitle{
    text-decoration: none;
    font-size: 0.8rem;
}

