@import './colors';

.qContainer{
    background-color: $lightPink;
    padding: 20px;
    border-radius: 10px;
    margin: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.qtitle{
    font-size: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.qdescription{
    font-size: 1.4rem;
}

.author{
    font-size: 0.8rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    display: inline-block;
}

.atext{
    font-size: 1.3rem;
}

.aContainer{
    @extend .qContainer;
    position: relative;
    margin: 1rem 2rem;
    z-index: 0;
    background-color: $lightGrey;
}

.aContainerLeft{
    display: inline-block;
    width: 90%;
}

.aContainerRight{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.answerIcon{
    display: inline-block;
    font-size: 2.5rem;
    padding: 10px;
}

.answerIcon:hover{
    background-color: $grey;
    border-radius: 10px;
    cursor: pointer;
}

.answerLikes{
    display: inline-block;
}

.editDeleteIcons{
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.editDeleteIconsQuestion{
    @extend .editDeleteIcons;
    float: right;;
}
// .editDeleteIconsQuestion:hover{
//     background-color: ;
// }

.questionLikesContainer{
    float: right;
}

.questionIcon:hover{
    background-color: $pink;
}